html,body{
        text-align: center;
        width:350px;
      }
      
      img{
        width:54px;
        padding: 5px;
      }
      
      a{
        text-decoration: none;
      }
      
      .fa {
        padding:15px;
        font-size:45px;
        color:#000;
      }
      
      
      
       .fa-linkedin:hover{
        color:darkcyan;
      }
      
      .fa-github:hover{
        color:orange;
      }